@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: 256, 256, 256;
}
input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.btn {
  border-radius: 32px;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 20px;
  padding: 12px 24px;
  transition: all 0.5s ease;
}
.btn-gradient {
  background-image: linear-gradient(to right, rgb(4 136 220), rgb(180 54 160));
  border: 0;
  color: rgba(var(--text-color));
}
